@model DEPI_Project1.ViewModels.EditUserViewModel



<h2>Edit User</h2>

<form asp-action="EditUser" method="post">
    <input type="hidden" asp-for="Id" />
    
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Current Roles:</label>
        <div>
            @string.Join(", ", Model.CurrentRoles)
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-action="UserAccounts" class="btn btn-secondary">Cancel</a>
</form>